<div id='header'>
	<h1>du sätter orden i halsen</h1>
	<h2><%= link_to 'nya ord, nya koncept', new_word_path %></h2>
</div>

<table style=";">
  <tr>
    <th>begreppsrymd</th>
  </tr>

<% for word in @words %>
  <tr>
    <td><%= link_to h(word.word), word %></td>
  </tr>
<% end %>
</table>

<br/>

<div id='footer'>
	
</div>