<div id='header'>
	<h1>du sätter orden i halsen</h1>
	<h2><%= link_to 'nya ord, nya koncept', new_word_path %></h2>
</div>

<div id='words'>
<table style=";">
  <tr>
    <th>begreppsrymd</th>
  </tr>

  <tr>
  <% for collection in partition(@words) %>
	<td>
    <% for word in collection %>
      <%= link_to h(word.word), word %><br/>
    <% end %>
	</td>
  <% end %>
  </tr>
</table>
</div>

<div id='footer'>
  
</div>
