<h1>du definerar din värld</h1>

<% form_for(@word) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.text_area :definition %>
  </p>
  <p>
    <%= f.submit "framgång" %>
  </p>
<% end %>

